{
  "experimentalTernaries": true,
  "experimentalOperatorPosition": "start",
  "tabWidth": 4,
  "quoteProps": "consistent",
  "bracketSameLine": true,
  "proseWrap": "never",
  "singleAttributePerLine": true
}
